@font-face {
	font-family: 'monoFont';
	src: url('BPmono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'monoFont';
	src: url('BPmonoItalics-webfont.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'monoFont';
	src: url('BPmonoBold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'headings';
	src: url('FFF_Tusj-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
