/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
.code {
    border: 1px solid #ccc;
    word-wrap: break-word;
    padding: 6px 10px;
    line-height: 19px;
    margin-bottom: 20px;
}

.code {
    border: 1px solid #eaeaea;
    margin: 0px 2px;
    padding: 0px 5px;
    font-size: 12px;
}

.code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #333;
    background: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.code {
    font-size: 13px;
}

.code .comment {
    color: #998;
}

.code .support {
    color: #0086B3;
}

.code .tag, .code .tag-name {
    color: navy;
}

.code .keyword, .code .css-property, .code .vendor-.codefix, .code .sass, .code .class, .code .id, .code .css-value, .code .entity.function, .code .storage.function {
    font-weight: bold;
}

.code .css-property, .code .css-value, .code .vendor-.codefix, .code .support.namespace {
    color: #333;
}

.code .constant.numeric, .code .keyword.unit, .code .hex-color {
    font-weight: normal;
    color: #099;
}

.code .entity.class {
    color: #458;
}

.code .entity.id, .code .entity.function {
    color: #900;
}

.code .attribute, .code .variable {
    color: teal;
}

.code .string, .code .support.value  {
    font-weight: normal;
    color: #d14;
}

.code .regexp {
    color: #009926;
}
