#sidePanel { position:fixed; right: 0; top: 0; bottom: 0;}
#sidePanel .icon { font-size: 54px; cursor: pointer; position:absolute; right:20px; top:20px; }
#sidePanel .guts { 
	visibility:hidden; 
	min-width:0; 
	max-width:0; 
	background-color: rgba(0, 0, 0, 0.56); 
	width: 169px; 
	padding: 23px 0; 
	box-sizing: border-box; 
	position: absolute; 
	transition:all .4s;  
	padding-top: 68px;
	right:0;
	bottom: 0;
	top: 0;
}
#sidePanel .guts div {
    margin: 0;
 }
#sidePanel .guts div a,
#sidePanel .guts div span {
	font-size: 19px;
	display: block;
	padding: 16px;
	text-decoration: none;
	color: white;
}

.AlwaysOpen #sidePanel .guts {
	padding-top:15px;
	width: 250px; 
	background-color: rgba(0, 0, 0, 0.79);
}

.AlwaysOpen #sidePanel .guts a,
.AlwaysOpen #sidePanel .guts span {
	font-size: 18px;
	display: block;
	padding: 1px 16px;
	text-decoration: none;
	color: white;
}


#sidePanel .guts div a.Clicked,
#sidePanel .guts div a:hover,
#sidePanel .guts div a:active {
	background-color: rgba(61, 228, 228, 0.44);
}

#sidePanel .guts div span {
	background-color: rgba(61, 228, 228, 0.24);
}

#sidePanel.Open .icon { }
#sidePanel.Open .guts { visibility:visible; max-width: 300px; }

#sidePanel .SubSection {
    font-size: 14px;
    font-family: sans-serif;
}

#sidePanel .SubSection .Section {
	cursor:pointer;
}

#sidePanel .SubSection .Section h4 {
	padding: 1px 16px;
	margin: 0;
	color:rgba(255,255,255,.7);
	font-weight:normal;
	transition:all .4s;  
	font-size:14px;
}

#sidePanel .SubSection .Section .Section h4 {
	border-left:1px solid rgba(255,255,255,.7);
	margin-left: 20px;
	padding-left: 0;
}

#sidePanel .SubSection .Section .Section {
	visibility:hidden;
	max-height:0;
	padding: 0;
	opacity:0;
	overflow:hidden;
	transition:all .4s;  
}

#sidePanel .SubSection .Section a {
	padding: 0;
	font-size: 14px;
	line-height: 114%;
	font-weight: normal;
	visibility:hidden;
	max-height:0;
	transition:all .4s;
	opacity:0;
	border-left:1px solid rgba(255,255,255,.7);
	margin-left:20px;
	color:rgba(255,255,255,.7);
}

#sidePanel .SubSection .Section.Open {
}

#sidePanel .SubSection .Section.Open .Section {
	visibility:visible;
	opacity:1;
	max-height:initial;
}

#sidePanel .SubSection .Section.Open .Section a {
	visibility:hidden;
	max-height:0;
	opacity:0;
	padding: 0;
}

#sidePanel .SubSection .Section.Open .Section.Open a {
	max-height:initial;
	visibility:visible;
	padding: 5px 0;
	opacity:1;
}

#sidePanel .SubSection .Section.Open a {
	max-height:initial;
	visibility:visible;
	padding: 5px 0;
	opacity:1;
}

#sidePanel .SubSection .Section.Open h4 {
	color:rgba(255,255,255,1);
}

html, body { padding:0; margin:0; }








