#sidePanel { position:fixed; right: 0; top: 0; bottom: 0;}
#sidePanel .icon { font-size: 54px; cursor: pointer; position:absolute; right:10px; top:10px; }
#sidePanel .guts { 
	visibility:hidden; 
	min-width:0; 
	max-width:0; 
	background-color: rgba(0, 0, 0, 0.56); 
	width: 151px; 
	padding: 10px; 
	box-sizing: border-box; 
	position: absolute; 
	transition:all .4s;  
	padding-top: 20px;
	right:0;
	bottom: 0;
	top: 0;
}
#sidePanel .guts div { }
#sidePanel .guts div a {
	font-size: 14px;
	display: inline-block;
	padding: 6px;
	text-decoration: none;
	color: rgb(192, 192, 253);
}

#sidePanel .guts div span {
	font-size: 14px;
	display: inline-block;
	padding: 6px;
	text-decoration: none;
	color: white;
}

#sidePanel.Open .icon { }
#sidePanel.Open .guts { visibility:visible; max-width:300px; }

html, body { padding:0; margin:0; }

.wrapper {  }




