
h1 { font-size:220%; }
h2 { font-size:180%; }
h3 { font-size:150%; }
.wrapper { margin:0px auto; max-width:780px; }
pre { white-space: pre-wrap; font-family: monospace; color: #fff; background-color: #383838; padding:10px; line-height:120%; }
body { font-family: verdana; color: #000000; padding:10px; background: rgb(255, 255, 245); font-size: 13px; line-height: 22px;}
body {
	background:transparent url(ricepaper_v3.png);
}
* { font-size: 1em; }
i.c { font-weight:bold; }
i.c, .Constant { color: #39B24A; }

.Type { color: #60ff60; }
.Statement { color: #C2C28E; }
.Constant { color: #ffa0a0; }
.Identifier { color: #44D3D3; }
.Special { color: #44D3D3; }
.Comment { color: #159828; }

.jump { 
	white-space:inherit;
	-webkit-columns:100px 2;
	padding: 0 11px;
}

.mb0 { margin-bottom:0; }

h4 { /* border-bottom:1px dotted #000; */ /* padding-bottom:.4em; */ margin-bottom:.4em; /* margin-left: -20px; */}
h5 { margin: 0; color: rgb(61, 77, 163); font-size: 11px;}
h4 + h5 { margin-top:0; }

.expand { color:blue; cursor:pointer; }
.expanse { overflow:hidden; max-height:0px; opacity:0; transition:all 1s; margin-top:0px; }
.expand:hover + .expanse,
.expanse:hover { max-height:10000px; opacity:1; cursor:pointer; }

.jump a { display:block; text-decoration:none; }

pre {display: block; padding: 40px; border: 1px dotted rgba(0,0,0,.1); font-size:89%; }
code {display: inline-block; padding: 5px; border: 1px dotted rgba(0,0,0,.1); font-size:89%; line-height:120%; }
pre, code { white-space:pre-wrap; }
pre > u { text-decoration:none; font-size:150%; vertical-align:middle; }
pre > em { color:rgba(0,0,0,.3) }
pre .hide { display:none; }
pre cite { font-style:normal; opacity:.4; font-size:85%; }


div.section { /* margin:20px 0; */ white-space:pre-wrap; padding: 0 20px; background-color: rgba(255,255,255,0.6);}

dl { white-space:initial; }
dl dt { font-weight:bold; margin:0; padding:0; }
dl dd { margin:0 0 0 10px; padding:0; }

#API { font-size:14px; }
#API dl { margin:0; padding:0 15px; }
#API dl dt:before { content:"\A0"; display:block; height:3px; }
#API dl dt { margin:10px 0 0; color: rgb(218, 34, 42); display:inline; font-style:italic; font-weight:normal; }
#API dl dd:before { content:"– "; }
#API dl dd { display:inline; }
#API { }
#API .Title { padding:15px 20px; font-size:24px; line-height:30px; font-weight:bold; background-color: rgba(61, 228, 228, 0.24); }
#API .Title .Tags { font-size:14px; font-weight:normal; float:right; line-height:30px; }
#API .Guts { padding:0 20px 20px; }
#API .Source { float:right; }
#API .Title .link { margin-left: 10px; color: rgba(0, 102, 255, 0.68); cursor: pointer; font-size: 20px; text-decoration:none; position: absolute; margin-left: -40px; font-weight: normal; font-size: 15px;}
#API .Returns { }
#API .Label { font-weight:bold; margin:1em 0 .4em; color: rgb(41, 124, 124); }
#API .Description { }
#API .Definitions { }
#API .Examples { }
#API .Examples .Example { white-space:pre; font-family:monospace; padding: 10px; border:1px dotted rgba(0,0,0,.1); margin:0 0 5px; background-color: rgba(208, 240, 240, 0.33);}

.Examples .keyword  {  color: #000000;  font-weight: bold;}
.Examples .support  {  color: #000000; font-weight:bold; }
.Examples .operator { color: #5F5FCF; }
.Examples .string { color: #60ff60; }
.Examples .dot { color: #000; }
.Examples .constant { color: #5968B3; font-weight: bold;}
.Examples .character { color: #000; }
.Examples .comment { color: rgba(0, 0, 0, 0.46); }
.Examples .numeric { color: #000; font-weight:bold; }
.Examples .function { color: #000; font-weight:bold; }
.Examples .function.call { color: #000; font-weight:bold; }
.Examples .entity { color: #000; font-weight:bold; }
.Examples .jDog { color: #000; font-weight:bold; }
.Examples .inQuotes { color: rgba(106, 112, 47, 0.86); font-weight:normal; font-style:italic; }
.Examples .Dog { color: rgb(21, 117, 206); font-weight:bold; }


#Editor { }
#Editor .Editor,
#Editor .Output { box-sizing:border-box; width:100%; min-height:300px; padding:9px; font-size:12px; }

#Editor .Output { min-height:200px; }
#Editor .Actions { padding-bottom:5px; }
#Editor .Actions button { }



